<header class="p-2 bg-primary text-white d-flex flex-wrap justify-content-between align-items-center">
    <p class="display-4">
        <a class="link-light" href="{{ path('home') }}">BDubCodes.net</a>
    </p>
    <p class="display-6">
        <a class="link-light" href="{{ path('posts') }}">Posts</a>
    </p>
</header>