{% extends 'base.html.twig' %}

{% block title %}File list{% endblock %}

{% block container %}
    <div class="row">
        <div class="col-sm-12">
            <p>
                <a class="btn btn-primary" href="{{ path('file_upload') }}">Upload</a>
            </p>

            <ul class="list-group">
                {% for file in files %}
                    <li class="list-group-item">
                        <summary class="d-flex gap-4">
                            <a href="{{ file.path|fileHref }}">{{ file.path }}</a>
                            <details>
                                <img src="{{ file.path|fileHref }}" alt="" width="150" height="150" loading="lazy">
                            </details>
                        </summary>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}