{% extends 'base.html.twig' %}

{% block container %}
    <h1 class="sr-only">BDubCodes</h1>
    <p>
        The last post is:
    </p>
    {% include 'partials/post-item.html.twig' with { post: lastPost } %}
    <p>
        <a href="{{ path('posts') }}">All posts</a>
    </p>
{% endblock %}