{% extends 'base.html.twig' %}

{% block container %}
    {% for post in posts %}
        {% include 'partials/post.html.twig' %}
        <hr>
    {% endfor %}
    <p>
        <a href="{{ path('posts') }}">All posts</a>
    </p>
{% endblock %}