{% extends 'base.html.twig' %}

{% block title %}Posts | Page {{ page }} | {{ parent() }}{% endblock %}

{% block container %}
    {% for post in posts %}
        {% include 'partials/post-item.html.twig' %}
        {% if not loop.last %}
            <hr>
        {% endif %}
    {% endfor %}
    <p class="d-flex justify-content-center gap-2">
        {% if page > 1 %}
            <a href="{{ path('posts', { page: page - 1}) }}">Previous page</a>
        {% endif %}
        {% if posts|length == 10 %}
            <a href="{{ path('posts', { page: page + 1}) }}">Next page</a>
        {% endif %}
    </p>
{% endblock %}